# results / outputs
results/
output/
*.pdf
*.png

# R
.Rhistory
.RData
.Rproj.user/
*.Rproj

# Python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
**/.DS_Store

# docs
docs/